<?xml version="1.0"?>

<model>
  <name>itokawa</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Optional: Steven Morad</name>
    <email>Optional: stevenmorad@gmail.com</email>
  </author>

  <description>
    A model of Itokawa.
  </description>

</model>

